.image{
    height: 15px;
    width: 20px;
}
.navbar {
    height: 80px;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
            gap: 5px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .center {
            display: flex;
            flex-direction: wrap;
            font-size: 18px;
            letter-spacing: 2px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 15px;

            .links {
                    display: flex;
                    align-items: center;
                    gap: 20px;
            
                    .link {
                        text-decoration: none;
                        font-size: 14px;
                        color: #333;
                        transition: color 0.3s ease;
            
                        &:hover {
                            color: #2879fe;
                        }
                    }
                }

            .icons {
                display: flex;
                align-items: center;
                gap: 15px;
                color: #777;
                cursor: pointer;

                .cartIcon {
                    position: relative;

                    span {
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #2879fe;
                        color: white;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}